.all-lading{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #00274E;
   
}

.IMGContainers{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #00274E;
    padding: 25px 0px;
    margin-bottom: 100px;
    
}

.imgBox{
    border-radius: 12px;
}

.cardContainers{
    height: 65%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgb(0 0 0 / 20%);
}

.cardContainers > h1 {
    padding-bottom: 30px;
    text-align: start;
}

.cardContainers > p {
    padding-bottom: 60px;
}

.cardContainers > button{
    color: white;
    background-color: #00274E;
    /* border-width: 1px; */
    border: 1px solid #00274E;
    border-radius: 5px;
    font-size: 15px;
    font-family: lato;
    font-weight: lighter;
    padding: 10px;
}