/* body{
    background-color: aqua;
} */
.body {
    margin: 0;
    padding: 0;
    background-image: url("../IMGs/landingpage_handshome.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
}

 /* .section{
    height: 200px;
    width: 50%;
}  */


