* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #posts{
     display: flex; 
     justify-content: center;
     margin: 10px;
     flex-wrap: wrap;
     margin: 10px;
  }
  
  #post{
  margin: 10px;
  background-color: #f2cc8f;
  border-radius: 10pz;
  width: 250px;
  border-radius: 10px;
  box-shadow: 5px 2px 20px black;
  overflow: hidden;
  width: 380px;


    /* display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: auto;
    margin: 20px;
    margin-top: 5%;
    text-align:center;
    width:25%;
    min-height: 500px; 
    background-color:white; */
  }
  /* #post:hover{
background-color: antiquewhite;
  }
   */
   /* #overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  #post:hover #overlay {
    opacity: 1;
  } */
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; */
  }

  #comment{
    /* margin-top: 2%;
    margin: 1%;
    border: 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
  }
  
  *,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  .ui-card{
    width: 350px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-out;
    background:radial-gradient(#111 50%, #000 100%);
  }
  
  .ui-card img{
    transform: scale(1.3);
    transition: all 0.3s ease-out;
  }
  .ui-card:hover img{
    transform: scale(1.1) translateY(-20px); 
    opacity: 0.3
  }
  .ui-card .description{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
  }
  .ui-card .description h3{
    font-weight: 700;
    font-size: 32px;
    margin: 0 0 20px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out;
  
  }
  .ui-card .description p{
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out 0.2s;
  }
  .ui-card .description a{
    color: #fff;
    background:#34aff3;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out 0.4s;
  }
  .ui-card .description a:hover{
    background:#0a83c5;
  }
  .ui-card:hover .description h3{
    opacity: 1;
    transform: translateY(0px);
  }
  .ui-card:hover .description p{
    opacity: 1;
    transform: translateY(0px);
  }
  .ui-card:hover .description a{
    opacity: 1;
    transform: translateY(0px);
  }
  
  
  