.images{
    width:350px;
    height:300px;
    border-radius: 10px;
}
.display{
    height: 350px;
    width: 600px;
    padding: 0px;
    margin-top: 20px;
    margin-right: 0px ;

}
.rev{
    margin: 20px 0 0 0;
    display: flex;
}
.desc{
    width: 450px;
    font-family: 'lato';
    margin: 0px 10px 0 20px;
    z-index: 400 !important;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    position: absolute; /* added */
    top: 440px; /* added */
    left: 0%; /* added */
    padding: 10px;
  

}

.all{
    display:flex;
    width: 780px;
   /* height: 500px; */
   /* border: 1px solid black; */
   margin-top: 20px;
   border-radius: 10px;
   text-align: center;
   margin-left: 20px;
   background-color: #00274E;
   color: #BDAF49;
}
.data{
    margin-left: 30px;
    color:white;
}
.img{
    width:400px;
    height: 250px;

}


.reserve{
    border: 1px solid black;
    font-family: 'lato';
    border-radius: 10px;
    width: 300px;
    margin: 0px 400px;
    z-index: 400 !important;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    position: absolute; /* added */
    top: 92px; /* added */
    left: 35%; /* added */
    padding: 10px;
    width: 272px;
}


/* .review{
    font-family: 'lato';
    font-size: 40px;
    color: #00274E; 
    width: 30px ;
    margin: 40px 400px;
   
 
  } */


  .outterBox{

    /* background-color:#00274E ; */
    border: 0.5px solid black;
    height: 400px;
    width: 500px;
    color: #00274E ;
    margin-top: 50px;
    margin-left: 15px;
    border-radius: 10px;
  }